Flask>=3.0.0
flask-cors>=4.0.0
requests>=2.28.0
python-dotenv>=1.0.0
opencv-python>=4.8.0
mediapipe>=0.10.0
pyttsx3>=2.90
SpeechRecognition>=3.10.0
PyAutoGUI>=0.9.53
screeninfo>=0.8.0
keyboard>=0.13.0
Pillow>=10.0.0
numpy>=1.24.0



